.btn-post{
    color: #e0e8f0 !important;
    background-color: #00293c !important;
}

.user-blogs{
    border-top: 1px solid grey;
    padding-top: 20px;
}

.last-row{
    padding-bottom: 20px;
}
.navDropdown{
    color:#e0e8f0;
}

.home-cards{
    margin:20px;
    background-color: #00293c;
    color: #e0e8f0;
}
.btn-go-to{
    background-color: #e0e8f0 !important;
    color: #00293c !important;
}

.dropdown-item-tag{
    color: #e0e8f0 !important;
    background-color: #00293c !important;
    border-bottom:0.5px solid #e0e8f0 ;
    border-top:0.5px solid #e0e8f0 ;
    border-radius: 0.5ch;
    &:hover{
        background-color: #e0e8f0 !important;
    color: #00293c !important;
    }
}
.dropdown-menu{
    background-color: #d2e5f8;
    border-collapse: collapse !important;
    border:1px solid #d2e5f8;
}

.dropdown-tag{
    background-color: #00293c !important;
    color: #e0e8f0 !important;
}

.blog-form {
    background-color: #e0e8f0 !important;
}

.ads-ads{
    padding-top: 75px;
}

.adv-main{
    background-color: #00293c;
    margin-bottom: 20px !important;
}

.adv-title{
    color: #e0e8f0;
}

.adv-heading{
    color: #e0e8f0;
    border-top: 1px solid #e0e8f0;
    padding-top: 10px ;
}

.adv-link{
    color:#d2e5f8;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color: #e0e8f0;
    }
}