.btn-primary{
  background-color: #dee4e9 !important;
    color: #00293c !important;
    border: none;
    text-align: left;
  }
.Food_recipe{
  background-color: silver;
}


/*
Removes white gap between slides
*/
.drop.carouse .carouse {
  background:#444;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
  height:auto;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}

.closecc{
  display: table; /* keep the background color wrapped tight */
  margin: 0px auto 0px auto; /* keep the table centered */
  padding:5px;font-size:20px;background-color:green;color:#ffffff;
}