body {
    background-color: #d2e5f8 !important;
}

.navbar-main{
    background-color: #04060F !important;
    color: #e0e8f0 !important;
}

.navbar-text{
    color: #e0e8f0 !important;
    display: flex !important;
    justify-content: center !important;
    &:hover{
        background-color: #e0e8f0 !important;
        color: #04060F !important;
    }
}

.activeclass{
    border: 1px solid #e0e8f0 !important;
}

.navbar-title{
    color: #e0e8f0 !important;
}

.nav-toggle{
    background-color: white !important;

}
